<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="Indique la pregunta" value="<%= quiz.pregunta %>" /> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Indique la respuesta" value="<%= quiz.respuesta %>"/> <p>
<label for="tem" class="rem">Tema:</label>
<select name="quiz[tema]">
  <%
    //TODO: Crear tabla de temas y mostrar los valores aquí
    var temas = ['Otro', 'Humanidades', 'Ocio', 'Ciencia', 'Tecnología', 'Geografia', 'Zoología', 'Deportes'];
    temas.forEach( function(value) {
      var selected = '';
      if (value === quiz.tema) { selected = 'selected'; }
  %>
      <option value="<%= value %>" <%=selected%>><%= value %></option>
  <%
    })
  %>
</select>
<div id="botonera">
  <a href="/quizes"><button type="button">Cancelar</button></a>
  <input type="submit" value="Salvar">
</div>
