<div id="resultados">
  <h1>Preguntas encontradas: <%= quizes.length %></h1>
  <table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr>
      <td>
      <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>&nbsp;
      </td>
      <% if(session.user) { %>
      <td>
      <a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a>
      </td>
      <td>
        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
          <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
            Borrar
          </button>
        </form>
      </td>
      <% } %>
    </tr>
  <% } %>
  </table>
</div>
<p/>
<div id="buscador">
  <form method="get" action="/quizes">
    <p>Localice las preguntas disponibles por texto:</p>
    <p>
      <input type="text" name="search" placeholder="Texto a buscar" value="" />
      <input type="submit" value="Buscar" />
    </p>
  </form>
  <p>O bien, cree una nueva pulsando <a href="/quizes/new">aquí</a></p>
</div>
