<div id="resultados">
  <h1>Estadísticas</h1>
  <table>
    <tr>
      <td class="right">
      Número de preguntas:
      </td>
      <td>
      <%=statistics.tot_preguntas%>
      </td>
    </tr>
    <tr>
      <td class="right">
      Número de comentarios totales:
      </td>
      <td>
      <%=statistics.tot_comentarios%>
      </td>
    </tr>
    <tr>
      <td class="right">
      Número medio de comentarios por pregunta:
      </td>
      <td>
      <%=statistics.med_comentarios%>
      </td>
    </tr>
    <tr>
      <td class="right">
      Número de preguntas sin comentarios:
      </td>
      <td>
      <%=statistics.sin_comentarios%>
      </td>
    </tr>
    <tr>
      <td class="right">
      Número de preguntas con comentarios:
      </td>
      <td>
      <%=statistics.con_comentarios%>
      </td>
    </tr>
  </table>
</div>
